body {
    margin: 0;
    height: 5000px;
    background: #eee;
}

#filler {
    height: 900px;
    width: 100%;
    background: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

#filler p {
    margin: 0;
    padding: 20px;
    font-size: 23px;
    line-height: 1.4em;
}

#rocket {
    height: 250px;
    width: 100px;
    /*background: red;*/
    position: fixed;
    left: 350px;
}

#ground {
    position: fixed;
    width: 100%;
    background: linear-gradient(to bottom, #aaa 0%,#ddd 100%);
    left: 0;
}
